
/* HEADER */
#header{
    background-color: #ffffff;
    text-align: center;
}

#header #logo-container{
    position: relative;
}

#header #logo-container img{
    height: 150px;
    padding: 20px;
}

/* REGISTER */
#register{
    position: relative;
    background-color: #00B153;
    height: 100vh;
    color: white;
}

#register #call-to-action{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#register #call-to-action h1{
    
}

#register #call-to-action #code-input{
    width: 200px;
    height: 75px;
    border-radius: 3px;
    color: #343434;
    font-size: 32px;
    box-shadow: none;
    border: none;
    padding: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    display: inline-block;
    margin-top: 13px;
    margin-right: 13px;
}

#register #call-to-action #submit{
    display: inline-block;
    vertical-align: top;
}

/* FOOTER */
#footer{
    background-color: #00B153;
    text-align: left;
}

#footer #logo-container img{
    height: 150px;
    padding: 30px;
    margin-left: 20px;
}

#footer #hello{
    text-align: right;
    color: #343434;
    padding: 30px;
}

/* GALLARY */
#gallary{
    margin-bottom: 35px;
}

#gallary #links img{
    border-width: 1px;
    border-style: solid;
    border-color: #C6C7C9;
}

.flex-container {
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
  max-height: 300px;
  line-height: 350px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  position: relative;
}

.flex-item img{
  height: 100%;
  width: auto;
}

button{
    background-color: #00B153;
    width: 300px;
    height: 75px;
    border-radius: 3px;
    color: white;
    line-height: 75px;
    font-size: 30px;
    border: none; 
    margin: 20px;
}

#list-events{
    text-align: center;
    min-height: 70vh;
}

.event{
    text-align: left;
    margin: 20px;
}

#event-list .row{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

/*// .event div{
//     position: relative;
//     display: inline-block;
// }
// .event h2{
//     display: inline;
//     padding: 0;
//     margin: 0;
//     padding-left: 40px;
//     padding-right: 20px;
//     font-size: 50px;
// }
// .event h3{
//     margin: 0;
//     padding: 0;
//     display: inline;
//     padding-left: 10px;
//     padding-right: 10px;
//     font-size: 30px;
// }
*/
#event-list .row img{
    display: inline;
    max-width: 200px;
}

#upload{
    text-align: center !important;
}

#fakeButton{
    display: inline-block;
}
#desc{
    font-size: 20px;
    font-weight: normal;
}